@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

@include block("alert") {
    border-radius: $border-radius;
    padding: $padding;
    display: block;
    width: max-content;
    margin-bottom: $padding;
    
        i {
            margin-right: 0.5rem;
        }
}