@use "sass:math";

$font-family: "Roboto", sans-serif;

$padding: 1rem;

$border-radius: calc($padding / 4);

$icon-font-size: 1.5rem;

$basic-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

$navbar-size: 90px;
$logo-size: 50px;

$mobile-max-size: 800px;