@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

@include component("button") {
    border-radius: $border-radius;
    padding: $padding;
    display: block;
    width: max-content;
    transition: all 0.15s linear;
    cursor: pointer;
}