@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

@mixin banner-partial-definition {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

@include block("banner") {
  position: relative;
  display: flex;
  margin-bottom: 5rem;
  padding-bottom: 1rem;

  &::before {
    @include banner-partial-definition;
    transform: skewY(-3deg) translateY(-4rem);
  }

  &::after {
    @include banner-partial-definition;
    transform: skewY(-3deg) translateY(2rem);
    box-shadow: $basic-shadow;
  }
}
