@use "../../abstracts/mixins" as *;
@use "../../abstracts/variables" as *;

@include component("navbar") {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: $navbar-size;

  @include element("links") {
    display: flex;
    list-style: none;
    align-items: center;
    transition: 0.5s transform ease-out;
  }

  @include element("link") {
    margin-left: 1rem;
    padding: 1rem;
  }

  @include element("mobile-button") {
    display: none;
    cursor: pointer;
    z-index: 2;
    height: $logo-size;
    width: $logo-size;

    i {
      font-size: calc(2 * $logo-size / 3);
      display: block;
      margin: auto;
    }
  }

  @include onWebsiteMobileSize {
    @include element("links") {
      flex-direction: column;
        position: fixed;
        z-index: 1;
        background-color: $background-color; // TODO: move in theming module
        height: 100%;
        top: $navbar-size;
        left: 0;
        margin: 0;
        padding: 2rem;
        width: 100%;
        text-align: center;
        transform: translateY(-100%);
        z-index: -1;
      
        li {
          margin-bottom: 2rem;
        }
    }

    @include element("mobile-button") {
      display: flex;
    }
  }
}
