@use "../theming" as theming;

$default-theme: (
        name: "default",
    background-color-light: #1f1f1f,
    background-color-dark: #121212,
    button-background-color-hover: #ffffff,
    primary-color: #bb86fc,
        info-color: rgba(120, 163, 255, 0.274),
        warning-color: rgba(246, 255, 120, 0.274),
        text-color-primary: #d4d4d4,
        text-color-secondary: #a8a8a8
);

@include theming.apply-theme($default-theme);
